.kg-bookmark-card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(124, 139, 154, .25);
    background: #fff;
    border-radius: 3px;
}

.kg-bookmark-card:hover .kg-bookmark-title {
    color: #2a7de1 !important;
}

.kg-bookmark-container {
    display: flex;
    color: #394047;
    text-decoration: none !important;
    box-shadow: none;
    min-height: 120px;
}

.kg-bookmark-title {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 500;
    letter-spacing: 0
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.kg-bookmark-description {
    display: -webkit-box;
    font-size: 0.9rem;
    line-height: 1.7;
    margin-top: 3px;
    color: #626d79;
    font-weight: 400;
    max-height: 44px;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
}

.kg-bookmark-thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.kg-bookmark-metadata {
    color: #394047;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin: 0 6px 0 0 !important;
}

.kg-bookmark-publisher {
    color: #626d79;
    font-weight: 400;
}

.kg-bookmark-author:before {
    content: "•";
    color: #394047;
    margin: 0 6px;
    position: absolute;
    right: 0;
}

.kg-bookmark-author {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.65em;
    font-weight: 400;
    position: relative;
    padding-right: 18px;
}

figcaption {
    color: #626d79 !important;
    font-size: 0.9rem !important;
    line-height: 1.7;
    text-align: center;
    margin-top: 10px !important;
}