---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";

import { ghostClient } from "@lib/ghost";
import Card from "@components/Card.astro";

const posts = await ghostClient.posts.browse({
  limit: "all",
  include: "tags",
  fields: "id, title, feature_image, excerpt, published_at, slug, primary_tag",
});

posts.forEach((post) => {
  post.published_at = dayjs(post.published_at).format("YYYY-MM-DD");
});
---

<Layout title="블로그">
  <Fragment slot="head">
    <meta
      name="description"
      content="코멘토를 만들어가는 개발자들의 일상, 생각, 고민이 담긴 블로그입니다. 업무 중 만난 다양한 일의 기록이 남아있습니다."
    />
  </Fragment>
  <section class="col-span-12 grid grid-cols-12 gap-6 py-[40px] lg:py-[80px]">
    {
      posts.map((post) => (
        <Card class="col-span-12 lg:col-span-3" post={post} />
      ))
    }
  </section>
</Layout>

<style>
  body {
    background-color: #f7f8f8;
  }
</style>
