---
import Layout from "../layouts/Layout.astro";
import dayjs from "dayjs";

import { ghostClient } from "@lib/ghost";
import Card from "@components/Card.astro";
export type Post = {
  id: string;
  title: string;
  html: string;
  published_at: string;
  feature_image: string;
  slug: string;
  tags: { name: string }[];
  excerpt: string;
};

const posts: Post[] = await ghostClient.posts.browse({
  limit: "all",
  include: "tags",
});

posts.forEach(
  (post) => (post.published_at = dayjs(post.published_at).format("YYYY-MM-DD"))
);
---

<Layout title="아티클 | 코멘토 개발자">
  <section class="col-span-12 grid grid-cols-12 gap-6 py-[40px] lg:py-[80px]">
    {
      posts.map((post) => (
        <Card class="col-span-12 lg:col-span-3" post={post} />
      ))
    }
  </section>
</Layout>

<style>
  body {
    background-color: #f7f8f8;
  }
</style>
