---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { ghostClient } from "@lib/ghost";
const posts = await ghostClient.posts.browse({ limit: "all" });
console.dir(posts[0]);
---

<Layout title="Welcome to Astro.">
  <main>
    {
      posts.map((post) => (
        <a href={`/post/${post.slug}`}>
          <div class="flex flex-col">
            <img src={post.feature_image} alt="" />
            <p>{post.title}</p>
          </div>
        </a>
      ))
    }
  </main>
</Layout>
