---
import Icon from "@components/Icon.astro";
import { getPostSlug } from "@lib/post";
const { post, direction = "left", class: className } = Astro.props;
const { title } = post;
const href = `/post/${getPostSlug(post)}`;
---

<a
  href={href}
  class="w-full md:w-[250px] hover:text-primary"
  class:list={[className]}
  data-astro-reload
>
  <div class="flex flex-col">
    <div class="flex gap-4 items-center">
      {direction === "right" && "다음 글"}
      <Icon name={`arrow-${direction}`} />
      {direction === "left" && "이전 글"}
    </div>
    <span class="mt-3 block break-keep text-body1 font-semi-bold">
      {title}
    </span>
  </div>
</a>

<style is:global>
  .prose ul {
    word-break: break-word;
  }
</style>
